.container__menu-tittle{
  color: rgb(47, 141, 55);

}

.container__menu-tittle > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 250px;
font-family: 'segoe UI';
display: flex;
justify-content: center;
}

.container__menu-tittle > hr{
  margin-top: 20px;
  margin-bottom: 5px;

}

