<div class="container__big-card">

 <div class="big-card__photo">
  <img
  src="https://upload.wikimedia.org/wikipedia/commons/2/22/Chevrolet_Opala_SS_1978_Inca.jpg"
  alt=""
  height="350px"

  srcset=""
  >
</div>

  <div class="big-card__title">
<h1><a href="#">A lenda nunca perdeu seu charme </a></h1>
  </div>

  <div  class="big-card__description">
    <p>
      <a href="#">
        Lançado como concorrente do Ford Galaxie e do Dodge Dart, o Opala foi apresentado ao público brasileiro na edição de 1968 do Salão do Automóvel de São Paulo. Sua carroceria foi inspirada no alemão Opel Rekord, mas com estilo e mecânica do norte-americano Chevrolet Impala, o que fez a montadora batizá-lo com o acrônimo Opala (Opel+Impala) De forma rápida foi aceito pelo público, tornando-se um modelo consagrado.
      </a>
    </p>


  </div>

</div>
