.container__big-card{
  margin-left: 10px;
  margin-right: 10px;
  width: 650px;
  height: 550px;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title h1 > a {
  margin-top: 15px;
font-size: 25px;
color: rgb(34, 255, 0);


}

.big-card__description{
  margin-top: 10px;
}

.big-card__description > p > a {
  color: rgb(254, 254, 254);
  font-size: 20px;
  text-align: center;
}

.big-card__photo > img {
  width: 100%;
  min-width: 640px;
border-radius: 50px;
border: 1px solid white;
}

.big-card__description > a{
  color: aqua;
}
