/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'segoe UI';
background-image: url(assets/imagem/1477945_600275566675746_282453139_n.jpg);
}

a {
  text-decoration: none;

}

p{
  text-align: center;



}

/* @media (max-width: 900px) {
  .facet_sidebar {
    display: none;
  }
}

@media (min-width: 640px){
  .facet_sidebar {
    display: none;
  }
} */
